body{
	background-color: #ffffff;
	font-family: Helvetica;
	overflow-x: hidden; 
	margin-left: 0px !important;
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}
.padding-b{
	padding-bottom: 5vh;
}
.container{
	display: flex;
	width: 100vw;
	height: 90vh;
	flex-direction: column;
	align-items: center;
	background: url("../img/girl.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #ffffff;
}
.header{
	display: flex;
	width: 80vw;
	flex-direction: row;
	padding: 5vh;
	justify-content: space-between;
	font-family: Helvetica;
	font-size: 2em;
}
.bienvenida{
	display: flex;
	height: 80vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.bienvenida a, .laven-mi-ropa a{
	color: #ffffff;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 1.2em;
	height: 5vh;
	width: 10vw;
	background-color: red;
	text-align: center;
	padding: 1em;
}
.calculadora{
	display: flex;
	justify-content: center;
	color: #ffffff;
	padding: 2vh;
	background-color: #2E3942;
	width: 98vw;
	font-size: 1.3em;
}
.calculadora a{
	color: #3db2e1;
	text-decoration: none;
}
.servicios{
	display: flex;
	justify-content: center;
	background-color: #ffffff;
}
.lavanderia,.planchado,.tintoreria{
	display: flex;
	padding: 5vh 2vw;
}
.lavanderia h4,.planchado h4,.tintoreria h4{
	color: #3db2e1;
}
.conte2{
	display: flex;
	justify-content: center;
	background-image: url('../img/lavadora.jpg');
	background-size: 70vw 71vh;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffffff;
	color: #ffffff;
	font-weight: lighter;
}
.razones{
	background-color: rgba(61,178,225,0.5);
	width: 70vw;
	padding: 4vh 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lista{
	width: 70vw;
	display: flex;
	padding: 2vh;
	justify-content: center;
}
.lista div{
	width: 20vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
 .lista div img{
 	margin-right: 5%;
}
.laven-mi-ropa{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.laven-mi-ropa a{
	font-size: 1em;
}
.garantia{
	display: flex;
	width: 100vw;
	justify-content: center;
	padding-top: 8vh;
}
.garantia div{
	margin-left: 5vw;
	font-size: 1.1em;
}
.garantia div h2{
	font-weight: initial;
}
.garantia div img{
	height: 23vh;
	margin-top: 3vh;
}
hr{
	width: 72vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.opiniones{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.opiniones .comentarios{
	display: flex;
	padding: 0 15%;
}
.comentarios p{
	margin-left: 25px;
	margin-bottom: 35px;
	font-weight: lighter;
}
.costos{
	display: flex;
	padding: 0 18%;
	justify-content: center;
}
.costos img{
	width: 30vw;
	display: block;
}
.column{
	width: 30vw;
}
.column .cta-calcula{
	background-color: #66CCFF; 
	border-style: none;
	padding: 5% 10%;
	color: #ffffff;
	font-size: 1em;
}
.column .face{
	background-color: #415E9B; 
	border-style: none;
	color: #ffffff;
}
.ubicacion{
	width: 98vw;
	display: flex;
	justify-content: center;
}
.ubicacion iframe{
	margin-right: 5%;
}
.ubicacion div h2{
	margin-top: 15%;
}
.ubicacion div ul{
	list-style: none;
}
.suscripcion{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.suscripcion input{
	width: 250px;
	height: 25px;
	font-size: 1em;
}
.suscripcion button{
	background-color: #66CCFF; 
	border-style: none;
	border-radius: 5px;
	padding: 12px 20px;
	color: #ffffff;
	font-size: 1em;
	margin-bottom: 5%;
}
.footer{
	background-color: #2E3942;
	padding: 5% 13%;
	display: flex;
	flex-direction: column;
	color: #ffffff;
}
.footer .contac{
	display: flex;	
}
.footer .contac div{
	width: 40%;
}
.footer a{
	text-decoration: none;
	color: #66CCFF;
	margin-bottom: 10px;
}


